/* font-style  */

.cerebri {
    font-family: 'Cerebri Sans', sans-serif;

}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.oswald {
    font-family: 'Oswald', sans-serif;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}

p {
    color: #ffffff;
}

/* creating  size  */
.page {
    background: var(--white);
    display: block;
    margin: 0 auto;
    position: relative;
    box-shadow: var(--pageShadow);
    background-color: #ffffff;
}

.page[size="page-size"] {
    width: 8.5in;
    height: 11in;
    overflow: hidden;
    background-image: url('../images/bg.jpg');
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 0.3in;
    margin-left: 0.26in;
    margin-right: 0.26in;
}


.wired-differently {
    width: 0.63in;
    height: 0.41in;
}

.social-media-icon {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.top-left-text {
    color: #ffffff;
    font-size: 10.64pt;
    text-align-last: right;
    margin-bottom: 0.05in;
}

.icon-img {
    height: 0.180in;
    width: 0.180in;
}

.header-img-area {
    margin: 0in 0.640in;
    display: flex;
    margin-top: 0.577in;
    margin-top: 24px;
}

.top-img {
    width: 297px;
}

.top-img>img {
    width: 2.6in;
    height: 3.2in;
    margin-left: 50px;
    top: -105px;
    position: relative;
}

.top-left-area {
    margin-left: 49px;
    font-size: 8.19pt;
}

.Doug-Badertscher-speech {
    text-align: right;
    font-size: 8.19pt;
}

.img-logo {
    text-align: center;

}

.img-logo>img {
    height: 2.4in;
    width: 5.5in;
    margin-left: 25px;
    top: -235px;
    position: relative;

}

.btn-area {
    text-align: center;
    top: -166.5px;
    left: 10px;
    position: relative;
}

.btn-area>h3 {
    font-size: 11.48px;
    margin-left: 10px;

}

.btn-area>h3>a {
    text-decoration: none;
    color: #ffffff;
    padding: 2px 17px;
    letter-spacing: 2.5px;
}

.btn-area>p {
    font-size: 8px;
    line-height: 16px;
    letter-spacing: 1.5px;
}

.highlights-area {
    margin-left: 0.380in;
    position: relative;
    top: -147px;
}

.highlight-heading {
    font-size: 6.33pt;
    color: #000000;
}

.highlight-main {
    font-size: 9px;
    margin-left: 9px;
}

.highlight-parent {
    margin-top: 17px;
}

.highlight-items {
    font-size: 5px;
    margin-left: 20px;
    line-height: 11px;
    font-family: 'Montserrat', sans-serif;
}

.round-img-area {
    display: flex;
    position: relative;
    top: -140px;

}
.round-image-left{
    margin-left: 0.31in;
}
.about-todd-title{
    font-size: 18pt;
}

.round-images-parent {

    margin-left: -25px;
}

.round-image-child>img {
    width: 3.7in;
    margin-left: 35px;
}
.purposefull-text{
    margin-left: 0.5in;
    text-align: center;
    margin-top: 75px;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-top: -175px;
}